/* Nav Page Styles */
.nav-page-container {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  background-color: var(--primary-2);
  overflow-y: overlay;
  border-radius: 0.4em;
}
.nav-bar {
  display: flex;
  justify-content: space-between;
  background-color: var(--primary-2);
  padding: 2em;
  margin: 1em;
  box-sizing: border-box;
  border-radius: 1em;
  width: 100%;
  transition: width 2s, position 1s;
}
.nav-bar.floating {
  width: fit-content !important;
  position: fixed;
  background: var(--black);
  color: var(--primary-2);
}
.nav-bar.floating a {
  color: var(--primary-2);
  opacity: 0.6;
}
.nav-bar.floating a.focused-link,
.nav-bar.floating a.active-link {
  color: var(--primary-2);
  opacity: 1;
}
.nav-bar a {
  font-weight: bold;
  margin: 0.3em;
  cursor: pointer;
  color: var(--translucent-dark-text-color);
  text-decoration: none;
}
.nav-bar a.focused-link,
.nav-bar a.active-link {
  color: var(--primary-text-color);
}
.pagelet-container {
  box-sizing: border-box;
  margin: 1em 4em;
  border-radius: 1em;
  padding: 2em;
  background: var(--empty-background-color);
}
